[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "robsurvey"]
	path = robsurvey
	url = https://github.com/tobiasschoch/robsurvey
	shallow = true
	registered = true
[submodule "rsae"]
	path = rsae
	url = https://github.com/tobiasschoch/rsae
	shallow = true
	registered = true
[submodule "wbacon"]
	path = wbacon
	url = https://github.com/tobiasschoch/wbacon
	shallow = true
	registered = true
