[submodule ".registry"]
	path = .registry
	url = https://github.com/tobiasschoch/tobiasschoch.r-universe.dev
	branch = HEAD
[submodule "robsurvey"]
	path = robsurvey
	url = https://github.com/tobiasschoch/robsurvey
[submodule "rsae"]
	path = rsae
	url = https://github.com/tobiasschoch/rsae
[submodule "wbacon"]
	path = wbacon
	url = https://github.com/tobiasschoch/wbacon
